.home {
    min-height: 640px;
    background-image: url("https://xtremepyrosonic.files.wordpress.com/2016/06/tiny-overwatch.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}